@import '~styles/colors';
@import '~styles/vars';

.fe-GameStateMarker {
  background-color: $arapawa;
  border-radius: 4px;
  color: $white;
  margin: 16px 4px;
  padding: 0 4px;

  &--player1 {
    background: $player1-background-fallback;
    background: $player1-background;
    color: $player1-color;
  }

  &--player2 {
    background: $player2-background-fallback;
    background: $player2-background;
    color: $player2-color;
  }
}
