@import '~styles/colors';
@import '~styles/vars';

@keyframes appear {
  0% {
    font-size: 0;
  }
}

.fe-Log {
  animation: appear 0.5s ease-in-out;
  border-radius: 4px;
  margin: 4px;
  padding: 0 4px;

  &--player1 {
    background: $player1-background-fallback;
    background: $player1-background;
    color: $player1-color;
  }

  &--player2 {
    background: $player2-background-fallback;
    background: $player2-background;
    color: $player2-color;
  }
}
