@import '~styles/colors';
@import '~styles/vars';

@keyframes loading {
  0% {
    background-color: $red;
    color: $light-pink;
  }

  12% {
    background-color: $purple;
    color: $light-pink;
  }

  25% {
    background-color: $special-black;
    color: $pigeon-post;
  }

  37% {
    background-color: $arapawa;
    color: $pigeon-post;
  }

  50% {
    background-color: $aqua;
    color: $pigeon-post;
  }

  62% {
    background-color: $arapawa;
    color: $pigeon-post;
  }

  75% {
    background-color: $special-black;
    color: $pigeon-post;
  }

  87% {
    background-color: $purple;
    color: $light-pink;
  }

  100% {
    background-color: $red;
    color: $light-pink;
  }
}

.fe-GameGridItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-size: var(--item-side-length);
  height: var(--item-side-length);
  justify-content: center;
  margin: 0;
  width: var(--item-side-length);

  &:first-child,
  &:nth-child(2) {
    border-color: $white;
    border-style: solid;
    border-width: 0 1px 0 0;
  }

  &:hover {
    background-color: $alto;
    transition: background-color 0.25s linear;
  }

  &.is-loading {
    animation: loading 3s ease-in-out infinite;
  }

  &.is-disabled {
    cursor: default;
  }

  &.is-disabled:hover {
    background-color: transparent;
  }

  &.is-notWinningCell {
    opacity: 0.2;
    transition: opacity 0.5s ease-in-out;
  }

  &--player1 {
    color: $arapawa;
  }

  &--player2 {
    color: $purple;
  }
}
