@import '~styles/colors';
@import '~styles/vars';

@keyframes loading {
  0% {
    background-color: $red;
    color: $light-pink;
  }

  12% {
    background-color: $purple;
    color: $light-pink;
  }

  25% {
    background-color: $black-russian;
    color: $pigeon-post;
  }

  37% {
    background-color: $arapawa;
    color: $pigeon-post;
  }

  50% {
    background-color: $aqua;
    color: $pigeon-post;
  }

  62% {
    background-color: $arapawa;
    color: $pigeon-post;
  }

  75% {
    background-color: $black-russian;
    color: $pigeon-post;
  }

  87% {
    background-color: $purple;
    color: $light-pink;
  }

  100% {
    background-color: $red;
    color: $light-pink;
  }
}

.fe-GameGridItem {
  --item-side-length: 8vw;

  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-size: 50px;
  height: var(--item-side-length);
  justify-content: center;
  margin: 0;
  width: var(--item-side-length);

  &.is-loading {
    animation: loading 3s ease-in-out infinite;
  }

  &.is-set {
    cursor: default;
  }

  &:first-child,
  &:nth-child(2) {
    border-color: $black;
    border-style: solid;
    border-width: 0 1px 0 0;
  }

  &--player1 {
    color: $arapawa;
  }

  &--player2 {
    color: $purple;
  }
}
