@import '~styles/colors';
@import '~styles/vars';

@keyframes loading {
  0% {
    background-color: $red;
    color: $light-pink;
  }

  12% {
    background-color: $purple;
    color: $light-pink;
  }

  25% {
    background-color: $special-black;
    color: $pigeon-post;
  }

  37% {
    background-color: $arapawa;
    color: $pigeon-post;
  }

  50% {
    background-color: $aqua;
    color: $pigeon-post;
  }

  62% {
    background-color: $arapawa;
    color: $pigeon-post;
  }

  75% {
    background-color: $special-black;
    color: $pigeon-post;
  }

  87% {
    background-color: $purple;
    color: $light-pink;
  }

  100% {
    background-color: $red;
    color: $light-pink;
  }
}

@keyframes slideInFromLeft {
  0% {
    right: 40%;
  }

  50% {
    right: -8px;
  }

  100% {
    right: 0;
  }
}

@keyframes slideInFromLeftHalfWay {
  0% {
    right: 20%;
  }

  50% {
    right: -8px;
  }

  100% {
    right: 0;
  }
}

@keyframes slideInFromRight {
  0% {
    right: -40%;
  }

  50% {
    right: 8px;
  }

  100% {
    right: 0;
  }
}

@keyframes slideInFromRightHalfWay {
  0% {
    right: -20%;
  }

  50% {
    right: 8px;
  }

  100% {
    right: 0;
  }
}

.fe-ActivePlayerStatus {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  overflow: hidden;
  padding: 0 8px;
  width: 100%;

  &-name {
    align-items: center;
    border: 1px solid $black;
    border-radius: 16px;
    display: block;
    justify-content: center;
    line-height: 1.5em;
    margin: 4px 0;
    padding: 0 8px;
    position: relative;
  }

  &.is-loading &-name,
  &.is-completed &-name {
    animation: loading 3s ease-in-out infinite;
  }

  &--player1 {
    justify-content: flex-start;
  }

  &--player1 &-name {
    animation: slideInFromRight 0.25s ease-out;
    background: $player1-background-fallback;
    background: $player1-background;
    color: $player1-color;
  }

  &--player2 {
    justify-content: flex-end;
  }

  &--player2 &-name {
    animation: slideInFromLeft 0.25s ease-out;
    background: $player2-background-fallback;
    background: $player2-background;
    color: $player2-color;
  }

  &.is-completed {
    justify-content: center;
  }

  &.is-completed#{&}--player1 &-name {
    animation: slideInFromLeftHalfWay 0.25s ease-out, loading 3s ease-in-out infinite;
    background: unset;
  }

  &.is-completed#{&}--player2 &-name {
    animation: slideInFromRightHalfWay 0.25s ease-out, loading 3s ease-in-out infinite;
    background: unset;
  }
}
