$player1-background-fallback: $special-black;
$player1-background: linear-gradient(90deg, $special-black 0%, $arapawa 35%, $aqua 100%);
$player1-color: $pigeon-post;

$player2-background-fallback: $red;
$player2-background: linear-gradient(120deg, $red 0%, $purple 100%);
$player2-color: $light-pink;
